#audio{
    background-color: rgb(59, 21, 90);
    color: white;
}

#video{
    background-color: rgb(108, 39, 114);
    color: white;
}

iframe{
    border: 10px solid white;
    margin: 10px;
}

audio{
    margin: 10px;
}
