header{
    position: relative;
    background-color: #04095a;
    padding: 30px;
    width: 100%;
}

body{
    background-color: #80819c;
    margin: 0;
}

*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 3em;
    padding: 10px autp;
    color: #c7cff7;
}

#menu{
    padding: 20px;
    text-align: center;
}

#menu a{
    display: block; /* Faz o link ficar em blocos*/
    color: #c7cff7;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}

#menu a:hover{
    background-color: #c7cff7;
    color: #111325;
    padding: 12px;
}

ul {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex; /*Coloca os itens/blocos lado a lado */
    justify-content: center; /* centraliza */
    flex-wrap: wrap; /* Permite quebrar linha no celular */
    gap: 10px; /* espaço entre os botões */
}

li {
    display: block;
}

img{
    max-width: 100%; /* Nunca ultrapassa a tela */
    height: auto; /*mantém proporções*/
}

#login{
    background-color: #80819c;
    color: white;
    position: absolute;
    top: 20px;
    right: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 15px;
    text-decoration: none;
}